<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <requiredRuntime version="v4.0.30319" safemode="true"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AnalysisServices" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0-14.0.0.0" newVersion="12.0.0.0"/>
        <codeBase version="12.0.0.0" href="Microsoft.AnalysisServices.Dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AnalysisServices.DeploymentEngine" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0-14.0.0.0" newVersion="12.0.0.0"/>
        <codeBase version="12.0.0.0" href="Microsoft.AnalysisServices.DeploymentEngine.Dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.DataWarehouse" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0-14.0.0.0" newVersion="12.0.0.0"/>
        <codeBase version="12.0.0.0" href="Microsoft.DataWarehouse.Dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
